* {
    margin:0;
    padding:0;
    font:inherit;
    color:inherit;

}
*, :after, :before {
    box-sizing:border-box;
    flex-shrink:0;
}

:root {
    -webkit-tap-highlight-color:transparent;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    cursor:default;
    line-height:1.5;
    overflow-wrap:break-word;
    word-break:break-word;
    tab-size:4
}

html, body {
    height:100%;
    width:85%;
    max-width: 102.4rem;
    margin: 0 auto;
    background-color: #F8F9FA;
}

button {
    background:none;
    border:0;
    cursor:pointer;
}

a {
    text-decoration:none
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 5rem;
    font-weight: bold;
}

.header_title{
    flex-grow: 2;
    font-size:1.4rem;
}

.header_menu{
    display:flex;
    align-items: center;
}

.search_icon{
    display:flex;
    align-items: center;
}

.profile_image-section{
    margin-left:1rem;
}

.profile_icon{
    background-color:aquamarine;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
}

.write_article-button{
    border: 0.1rem solid black;
    border-radius:2rem;
    height:2rem;
    padding: 0.1rem 0.9rem 0 0.9rem;
    margin-left: 1rem;
    transition: all 0.5s;
}

.write_article-button:hover{
    background-color: black;
    color:white;
}

.profile_image-section{
    display:flex;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 3rem;
}

.nav_left-menu{
    display:flex;
    align-items: center;
    flex-grow: 2;
}

.nav_button{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:7rem;

}

.nav_trending_topic{
    font-weight: bold;
    border-bottom: 0.17rem solid black;
    padding: 0 0.8rem;
}

.nav_new_topic{
    font-weight: bold;
    color: gray;
    margin: 0 0.5rem;
    padding: 0 1.3rem;
}

.period_setting{
    display: flex;
    align-items: center;
    width: 6rem;
    padding: 0 0.5rem;
    color: gray;
    margin-left: 1rem;
    background-color: #fff;
}

.nav_left-menu{
    position: relative;
}

.dropbox{
    position: absolute;
    top: 2rem;
    left: 16rem;
    width: 6rem;
    height: 6.3rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
}

.dropbox > p {
    width:100%;
    text-align: center;
    border-bottom: 0.1rem solid lightgray;
}

.hidden{
    display: none;
    width: 0;
}

.selected-menu{
    font-weight: bold;
    color:rgb(15, 194, 15);
}

.carousel-container{
    overflow-x: hidden;
}

.carousel-section{
    display: flex;
    gap:3rem;
    margin-top:1rem;
    padding-right: 1rem;
    transition: all 1s;
}

.carousel{
    font-size:2rem;
    border-radius:50rem;
    padding:0.5rem;
}
.carousel:hover{
    color:white;
    background-color: rgba(0,0,0,.8);
}

.carousel-left__btn{
    position:fixed;
    top:300;
    left:100;
    z-index: 990;
}

.carousel-right__btn{
    position:fixed;
    right:100;
    top:300;
    z-index: 990;
}

.article__card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width:23%;
    height:21rem;
    margin-bottom:2.5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius:0.3rem;
    cursor: pointer;
}

.article__card:hover{
    transition: all 0.5s;
    transform: translateY(-3%);
}

.thumbnail__container{
    height:45%;
    object-fit:cover;
    border-radius: 0.3rem 0.3rem 0 0;
}

.content__container{
    display:flex;
    flex-direction:column;
    height:45%;
    margin:0.3rem 0 0 0.8rem;
}

.article__title{
    font-size:1.2rem;
    font-weight:bold;
}

.article__content{
    flex-grow:2;
}

.article__info{
    font-size:0.8rem;
    color: gray;
}

.content__footer{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height:10%;
    border-top: 1px solid rgb(233, 233, 233);
}

.publisher__profile{
    display:flex;
    align-items: center;
    flex-grow: 2;
    margin-left:0.8rem;
}

.publisher__photo{
    border-radius: 50rem;
    background-color: lightgreen;
    padding: 0.1rem 0.4rem;
    margin-right: 0.5rem;
    font-size:0.7rem;
}

.article__likes{
    display:flex;
    align-items: center;
    margin-right:1rem;
    font-size:0.9rem;
}

.publisher__name{
    font-weight: bold;
}

.modal-card{
    position:fixed;
    width:30rem;
    height:30rem;
    top: 300;
    left: 400;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height:21rem;
    margin-bottom:2.5%;
    border-radius:0.3rem;
}
.modal-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1600px){
    .article__card{
        width:30%;
        margin-bottom:5%;
    }
}

@media (max-width:1200px){

    .article__card{
        width:48%;
        margin-bottom:4%;
    }
}

@media (max-width:1024px){

    body{
        width:100%;
    }

    .article__card{
        width:48%;
        margin-bottom:4%;
    }
}

@media (max-width:600px){

    body{
        width:100%;
    }

    .article__card{
        width:100%;
        margin-bottom:5%;
    }

    .thumbnail__container{
        height:55%;
        object-fit:cover;
    }

    .content__container{
        height:35%;
    }
    
}